body{
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
  color: orange;
  background-image: url("images and gifs/mainbg.jpg");
}

p{
  border-width: 8px 8px 8px 8px;
  border-style: solid;
  border-color: CadetBlue;
  font-family: 'Montserrat', sans-serif;
}

a:link {
  text-decoration: none;
}
